{% extends "layout.njk" %}

{% block head %}
<title>Naruto Shippuden</title>
{% endblock %}

{% block content %}

<div id="wrapper">
    <img src="https://1.bp.blogspot.com/-RAV7rSk1yZ8/XW22nc3uxvI/AAAAAAAAdWU/wwpCc8L44iQjGKVyhSTGF_ucVr5vVdH0ACLcBGAs/s1600/dvd-naruto-shippuden-dublado-1-a-5-temp-112-episodios-D_NQ_NP_962921-MLB29151512564_012019-F.jpg" alt="Naruto">
    <h1>Naruto Shippuden</h1>
    <h2>Shonen Jump</h2>
    <p>Naruto Shippuden é a continuação da primeira parte do mangá Naruto, e continua a mesma linha da história após a passagem de dois anos e meio no universo Naruto.</p>
</div>

    <script src="/scripts.js"></script>

{% endblock %}