{% extends "layout.njk" %}

{% block head %}
<title>Cenas Épicas</title>
{% endblock %}

{% block content %}

    <div id="wrapper">
        <h1>Cenas Épicas</h1>
    </div>

    <section class="cards">
        {% for item in itens %}
        <div class="card" id="{{item.id}}">
            <div class="card__image-container {{ 'featured-wrapper' if item.featured }}">
                <img src="https://img.youtube.com/vi/{{item.id}}/mqdefault.jpg" alt="Imagem de {{item.title}}">
                {% if item.featured %}
                    <div class="featured">Destaque</div>
                {% endif %}
            </div>
            <div class="card__content">
                <p>{{ item.title }}</p>
            </div>
            <div class="card__info">
                <p>{{ item.duration }}</p>
                <p class="card__price">{{ item.price }}</p>
            </div>
        </div>
        {% endfor %}
    </section>

    <script src="/scripts.js"></script>

{% endblock %}